/* Кнопки */
button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #557494;
}

.auth-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-btn:hover {
    background-color: #557494;
}

.logout-btn {
    width: 100%;
    padding: 8px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.logout-btn i {
    margin-right: 5px;
}

.action-btn {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.edit-btn {
    background-color: #f39c12;
}

.delete-btn {
    background-color: #e74c3c;
}

.sort-btn {
    background-color: #95a5a6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.sort-btn:hover {
    background-color: #7f8c8d;
}

.sort-btn.active {
    background-color: #2c3e50;
}

/* Стилі для перемикача звітів */
.report-type-btn {
    padding: 10px 20px;
    background-color: #95a5a6;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    margin-right: 5px;
}

.report-type-btn:hover {
    background-color: #7f8c8d;
}

.report-type-btn.active {
    background-color: #2c3e50;
    color: white;
}

.search-btn {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #557494;
}

.clear-search-btn {
    padding: 10px 20px;
    background-color: #95a5a6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.clear-search-btn:hover {
    background-color: #7f8c8d;
}

.appointment-filters button {
    padding: 10px 15px;
}

.cancel-btn {
    background-color: #95a5a6;
}

.cancel-btn:hover {
    background-color: #7f8c8d;
}